:root {
  --gutter: var(--space-m-l);
  --indent-size: var(--space-xs-l);

  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --transition-in: 0.3s ease-in;
  --transition-out: 0.3s ease-out;
  --stroke-width: 1px;
  --stroke: var(--stroke-width) dashed var(--color-mid);
  --stroke-solid: var(--stroke-width) solid var(--color-mid);

  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;

  --uppercase-kerning: 0.04ch;
}

:root {
  color-scheme: light dark;
  --color-dark-bg: #182520;
  --color-light-bg: #fefdfb;
  --color-dark-text: #111110;
  --color-light-text: #fafafa;
  --color-dark-accent: #597b46;
  --color-green-2: #3d562f;
  --color-green-1: #30453e;
  --color-light-accent: #a3e0ca;
  --color-logo-light: #bbb791;
  --color-logo-dark: #a3e0ca;
  --color-gray-0: #deded8;
  --color-gray-1: #b6b6b1;
  --color-gray-3: #6c6c68;
  --color-selection-bg: #4a695e;
  --color-about-bg-light: hsla(54deg, 49%, 79%, 20%);
  --color-about-bg-dark: hsla(159deg, 17%, 35%, 20%);
  --color-hero-bg-light: #f9f7ec;
  --color-hero-bg-dark: #22332c;
  --color-dark-text-opacity: hsla(60deg, 3%, 6%, 20%);
  --color-light-text-opacity: hsla(0deg, 0%, 98%, 20%);
  --color-overlay-light: #bbb791;
  --color-overlay-dark: #4a695e;
  --color-text: light-dark(var(--color-dark-text), var(--color-light-text));
  --color-bg: light-dark(var(--color-light-bg), var(--color-dark-bg));
  --color-hover-text: light-dark(var(--color-dark-accent), var(--color-light-accent));
  --color-about-bg: light-dark(var(--color-about-bg-light), var(--color-about-bg-dark));
  --color-text-opacity: light-dark(
    var(--color-dark-text-opacity),
    var(--color-light-text-opacity)
  );
  --color-hero-bg: light-dark(var(--color-hero-bg-light), var(--color-hero-bg-dark));
  --color-hero-text: light-dark(var(--color-gray-3), var(--color-gray-0));
  --color-hero-higlight: light-dark(var(--color-green-1), var(--color-logo-dark));
  --color-overlay-bg: light-dark(var(--color-overlay-light), var(--color-overlay-dark));
}

:root {
  --font-base: Sofia Pro, system-ui, sans-serif;
  --font-hero: Poppins, Sofia Pro, system-ui, sans-serif;
}
