<Layouts.flash_group flash={@flash} />
<article class="wrapper flow">
  <header class="region flow">
    <h1>Golf</h1>
    <p class="text-step-3">
      Welcome to Golf.
    </p>
  </header>
</article>
